:root {
  --blue: #1985a1;
  --red: #ff0035;
  --silver: #c5c3c6;
  --gainsboro: #dcdcdd;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

header {
  width: 100%;
  height: 5%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: 0 0.25rem;
  width: 100%;
  height: 100%;
}

li a {
  color: white;
  text-align: center;
  text-decoration: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-weight: bold;
}

section {
  width: 100%;
  height: 90%;
  padding: 0;
  background-color: gainsboro;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

div {
  padding: 0;
  width: 100%;
  height: auto;
}

.deck {
  width: 100%;
  height: auto;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.projectImage {
  width: 100%;
  height: 100%;
  background-color: black;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

input[type="text"] {
  width: 30%;
  border-radius: 0.25rem;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

input[type="submit"] {
  background-color: var(--red);
  color: var(--gainsboro);
  margin: 1rem 0;
  border-radius: 0.25rem;
  width: 10%;
  height: 100%;
}

textarea {
  height: 10rem;
  width: 31.5%;
}

label {
  width: 1/2;
  border-radius: 0.25rem;
  margin: 0.25rem 0;
}

footer {
  width: 100%;
  height: 5%;
  margin: 0;
  padding: 0;
  background-color: var(--blue);
  text-align: center;
}

.fBtn {
  width: 100%;
  height: 100%;
}

.fBtn:hover {
  background-color: var(--blue);
}

.logo {
  width: 2rem;
  height: 2rem;
  opacity: 50%;
  margin: 0.35rem 1rem;
  cursor: pointer;
}

button {
  background-color: var(--red);
  color: var(--gainsboro);
  border: none;
  width: 4rem;
  height: 2rem;
  border-radius: 0.5rem;
  margin: 0 1rem;
}

button:hover {
  background-color: rgb(245, 67, 67);
  cursor: pointer;
}

h1 {
  margin: 0 1rem;
  padding: 0;
  color: var(--gainsboro);
  font-size: 1rem;
}

h2 {
  text-align: center;
  margin: 0;
  color: black;
  font-size: 1rem;
}

h3 {
  margin: 1rem 0;
  font-size: 1rem;
}

p {
  color: black;
  margin: 0;
}

a:hover {
  color: black;
  background-color: var(--gainsboro);
}

a:focus {
  background-color: rgb(90, 8, 8);
}

.sub {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 1rem;
  font-weight: lighter;
}

.handles {
  margin: 0;
}

.contactinfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 1rem 0;
  width: 100%;
}

.infoDiv {
  margin: 0 2rem 0 0;
}

.text {
  color: black;
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.bold {
  font-weight: bold;
}

.xpItem {
  font-size: 1rem;
  color: black;
}

.row {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.xpRow {
  display: grid;
  width: 100%;
  height: auto;
  grid-template-columns: 30% 70%;
  grid-template-rows: 100%;
  grid-gap: 0;
  margin: 0;
}

.left {
  grid-row: 1/ 1;
  grid-column: 1/ 1;
  margin: 0;
}

.right {
  grid-row: 1/ 1;
  grid-column: 2/ 3;
}

.url {
  color: var(--red);
  font-size: 1rem;
}

@media only screen and (max-width: 320px) {
  a {
    font-size: 0.75rem;
  }
  input[type="text"] {
    width: 90%;
  }
  textarea {
    width: 100%;
  }
  input[type="submit"] {
    width: 40%;
  }
}

@media only screen and (max-width: 768px) {
  input[type="text"] {
    width: 90%;
  }
  textarea {
    width: 100%;
  }
  input[type="submit"] {
    width: 40%;
  }
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  a {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  img {
    width: 25%;
  }
  h3 {
    font-size: 2rem;
  }
  div {
    width: 90%;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 2rem;
  }
  a {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  img {
    width: 100%;
  }
  h3 {
    font-size: 2rem;
  }
  div {
    width: 60%;
  }
}

@media only screen and (min-width: 1440px) {
  h1 {
    font-size: 2rem;
  }
  a {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  img {
    width: 100%;
    height: 100%;
  }
  h3 {
    font-size: 2rem;
  }
  div {
    width: 50%;
  }
}
