:root {
  --blue: #1985a1;
  --red: #ff0035;
  --silver: #c5c3c6;
  --gainsboro: #dcdcdd;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

header {
  width: 100%;
  height: 5%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--blue);
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

li {
  display: inline;
  margin: 0 0.25rem;
  width: 100%;
  height: 100%;
}

a {
  color: white;
  text-align: center;
  text-decoration: none;
  width: auto;
  height: auto;
  cursor: pointer;
  font-weight: bold;
}

.icons {
  width: 10%;
  height: auto;
  outline: none;
}

.deck {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: row;
}

section {
  background-color: gainsboro;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 90%;
}

div {
  padding: 0;
  width: 100%;
  height: auto;
}

.deck {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

#imgContainer {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay {
  padding: 0;
  width: 100%;
}

.imgOverlay {
  margin: 0;
  padding: 0;
  width: 100%;
}

img {
  display: block;
  padding: 0;
  width: 100%;
  height: auto;
}

#selfie {
  height: auto;
  width: 100%;
  margin: 0 auto;
}

.projectImage {
  width: 100%;
  height: 100%;
  background-color: black;
}

.link {
  text-decoration: none;
  color: var(--blue);
}

footer {
  width: 100%;
  height: 5%;
  margin: 0;
  padding: 0;
  background-color: var(--blue);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* TEXT */

h1 {
  margin: 0 1rem;
  padding: 0;
  color: var(--gainsboro);
  font-size: 1rem;
}

h2 {
  text-align: center;
  color: black;
  font-size: 1.75rem;
  padding: 0;
  margin: 0;
}

h3 {
  margin: 1rem 0;
  font-size: 1rem;
}

p {
  color: black;
  margin: 0.5rem 0;
}

a:hover {
  color: black;
  background-color: var(--gainsboro);
}

button {
  width: 5rem;
  height: 2rem;
  margin: 0 1rem;
  outline: none;
  background-color: var(--blue);
}

object {
  margin: 0 auto;
  width: 10rem;
  height: 8rem;
}

iframe {
  margin: 0 auto;
  width: 100rem;
  height: 45rem;
}

#pdf {
  color: black;
  font-size: 1.5rem;
  margin: 0 auto;
}

#resume {
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .icons {
    width: 30%;
  }
  #selfie {
    width: 50%;
  }
}

@media screen and (min-width: 425px) {
  .deck {
    width: 90%;
  }
  img {
    width: 85%;
  }
  .icons {
    width: 30%;
  }
}

@media screen and (min-width: 768px) {
  .deck {
    width: 90%;
  }
  img {
    width: 45%;
  }
  #selfie {
    width: 30%;
  }
  .icons {
    width: 20%;
  }
}

@media screen and (min-width: 1024px) {
  .deck {
    width: 90%;
  }
  #projectContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
  }
  img {
    width: 90%;
  }
  #selfie {
    width: 20%;
  }
  .icons {
    width: 20%;
  }
}

@media screen and (min-width: 1440px) {
  h1 {
    font-size: 2rem;
  }
  li {
    font-size: 1.5rem;
  }
  .deck {
    width: 90%;
  }
  img {
    width: 90%;
  }
  #selfie {
    width: 15%;
  }
  .icons {
    width: 15%;
  }
}
